@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Reenie+Beanie&family=Ruslan+Display&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Josefin Sans", sans-serif;
  transition: 300ms all ease-in-out;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #8873ef;
  transition: transform 0.2s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 200;
}

main {
  animation: onPageLoad 0.75s;
}

@keyframes onPageLoad {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.change {
  border: 2px solid #fcda69;
}

.grow {
  transform: scale(5);
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.flexContainer {
  display: flex;
  padding: 1em 0;
  gap: 20px;
}

.hamburger {
  display: block;
  width: 35px;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
  margin-right: 20px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 6px 0;
  background: #0c0c0b;
  transition: 0.3s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: white;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #8873ef;
  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}

.main-header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 0 1em;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 2px 5px 5px 2px #f1f1f1;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 100;
}

.main-logo {
  cursor: pointer;
  height: 70px;
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 100;
  margin-left: 20px;
}

.main-logo img {
  width: 100px;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.menuItem > a {
  font-size: 1em;
  font-weight: 500;
  color: #7d7d7f;
}

.menuItem:hover > a {
  color: #3d3d3d;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.searchBox input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.8em;
  font-weight: 500;
  color: #7d7d7f;
  margin-right: 1em;
}

.searchBox button {
  border: none;
  padding: 0.3em;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.searchBox img {
  width: 1.2em;
}

.main-container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 70px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.rotatedText {
  transform: rotate(-35deg);
  width: 50px;
  color: #8873ef;
  margin-left: -0.5em;
  cursor: pointer;
  padding-bottom: 10px;
}

.col-hero1 {
  width: 500px;
  margin-left: 30px;
}

.main-title {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.main-title h1 {
  color: #000000;
  font-weight: 400;
  font-size: 6em;
}

.flexContainer > p {
  margin-bottom: 2em;
}

.line {
  width: 3em;
  border: solid black;
  border-width: 2px 0 0;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.primaryBtn > a {
  background-color: #8873ef;
  width: 150px;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.primaryBtn > a {
  color: white;
}

.primaryBtn:hover > a {
  color: #8873ef;
  background-color: white;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin-top: 4em;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.col-hero2 {
  width: 900px;
  position: relative;
}

.heroImg {
  width: 600px;
  margin-left: 50px;
}

.scale-effect:hover {
  transform: scale(110%);
}

.quote {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50px;
  right: 20px;
  width: 250px;
  height: 550px;
  justify-content: space-between;
}

.quoteText {
  font-size: 1.3em;
  font-weight: 400;
}

.rotated {
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  position: absolute;
  top: 320px;
  width: 500px;
  height: 20px;
}

.rotated p {
  color: #3d3d3d;
}

.lineRotate {
  width: 300px;
  border: solid #7d7d7f;
  border-width: 2px 0 0;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

#about {
  background-color: #fcda69;
  padding: 0 200px;
  gap: 20px;
}

.content-col {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.service-card {
  display: flex;
  flex-direction: row;
  border: #020104 solid;
  border-width: 2px 0 0 0;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.service-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.service-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 250px;
}

.service-number {
  font-size: 2em;
  font-weight: 500;
  color: black;
  letter-spacing: -2px;
}

.service-text > h2 {
  font-size: 4em;
  font-weight: 700;
}

.service-text > p {
  font-weight: 700;
  margin-bottom: 50px;
}

.col-btn {
  width: fit-content;
}

.service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  width: 50px;
  height: 50px;
  background-color: #8873ef;
  border-radius: 50%;
}

.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}

.color-gray {
  background-color: #7d7d7f;
}

.color-cyan {
  background-color: cyan;
}

#col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

#serviceText {
  width: 70%;
  font-size: 20px;
}

.icon-arrow > a {
  color: white;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.skills-title > h2 {
  font-size: 40px;
  font-weight: 500;
}

.skills-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.skills-item {
  margin-top: 30px;
}

.skills-item > a {
  color: #f1f1f1;
  background-color: #18171c;
  padding: 30px;
  border-radius: 100%;
}

.skills-item > h3 {
  margin-top: 50px;
  width: 150px;
}

.exp-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  justify-content: space-between;
}

.exp-main {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.exp-main h2 {
  font-size: 3em;
  font-weight: 500;
}

.experience-card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border: #020104 solid;
  border-width: 2px 0 0 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.exp-date > p {
  font-size: 1.2em;
  font-weight: 400;
}

.exp-title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hire-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

.hire-me {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.hire-me img {
  max-width: 100%;
  height: 100%;
}

footer {
  height: 100%;
  background-color: #fcda69;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 200px;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.contact-col {
  width: 100%;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #020104 solid;
  border-width: 2px 0 0 0;
  gap: 30px;
  padding: 20px;
  margin-top: 30px;
  width: 550px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail > p {
  font-weight: 400;
}

.detail > h3 {
  font-size: 25px;
}

.message-icon {
  padding: 20px;
  background-color: white;
  border-radius: 100%;
  color: #000000;
  font-size: 25px;
}

.contact-col2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 500px;
  height: 500px;
  border: #000000 solid 2px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link > a {
  font-size: 25px;
  color: black;
}

.button-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-contact > a {
  padding: 50px;
  background-color: #8873ef;
  font-size: 40px;
  border-radius: 50%;
  color: white;
}

.button-contact > a > span {
  transform: rotate(-45deg);
}

.copyright-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: #020104 solid;
  border-width: 2px 0 0 0;
  padding-top: 20px;
  margin-top: 100px;
}

.hero {
  height: 100vh;
  background-image: url("./img/hero.webp") #fcda69;
  background-size: cover;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.hero .hero-content {
  text-align: center;
  color: black;
  line-height: normal;
}

.hero .hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
}

.hero .hero-content h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: -30px;
}

.hero .hero-content p {
  font-size: 25px;
  font-weight: lighter;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  padding: 3% 0;
}

.hero-text h2 {
  padding: 2% 0;
}

.hero-text p {
  padding-bottom: 10%;
}

.main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-photo figure a img {
  border-radius: 100%;
  padding: 10px 0;
  width: 30%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: black solid;
  border-radius: 2px;
  font-weight: 600;
  width: 270px;
  height: 60px;
  color: black;
  font-size: 18px;
  margin-top: 20px;
  transition: transform 0.2s;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  font-weight: 600;
  color: #8873ef;
  transform: scale(1.2);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px 0;
}

.container h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1em;
}

.col-1 {
  flex: 1;
  margin: 20px 20px;
}

.col-1 h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.2em;
}

.contact-footer a {
  text-decoration: none;
}

.flex-container {
  width: 100%;
  display: flex;
}

.flex-container .col-1 ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.flex-container .col-1 a {
  text-decoration: none;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 10px;
  background-color: #fcda69;
  overflow: hidden;
  margin: 10px;
  flex: 1;
  box-shadow: #7d7d7f 2px 2px 2px 2px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.03);
}

.card .heading {
  height: 100px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

.card .heading-img {
  height: 400px;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}

.card .heading-img img {
  box-shadow: #000 0px 0px 3px;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
  margin: 5px 20px;
}

.card .content h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 1em 0;
}

.article-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 100px 200px;
  gap: 50px;
  justify-content: space-between;
}

.post-container {
  height: full;
  width: full;
}

.posts-container > h1 {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
}

.posts-query {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.post-card:hover {
  transform: scale(1.03);
}

.post-card {
  padding: 20px;
  width: 300px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: #7d7d7f 2px 2px 2px 2px;
}

.post-card-image {
  width: full;
  height: 150px;
  background-color: #8873ef;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.post-card-image > img {
  width: 500px;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.post-card-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.author-date {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 300;
}

.post-card-description {
  margin-top: 10px;
  padding-bottom: 20px;
}

.post-card-link {
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  background-color: #8873ef;
  color: white;
  width: 70px;
}

.side-bar {
  margin-top: 20px;
  width: 250px;
  padding: 20px;
}

.popular {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.popular > h2 {
  font-size: 20px;
  font-weight: 700;
  background-color: #000000;
  padding: 6px;
  color: #f1f1f1;
}

.popular-post {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.popular-post-image {
  width: 50px;
  height: 40px;
  background-color: #8873ef;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.popular-post-image > img {
  width: 130px;
  object-fit: cover;
  position: absolute;
  right: -40px;
}
.category-container {
  margin-top: 30px;
}

.category-container > h2 {
  font-size: 20px;
  font-weight: 700;
  background-color: #000000;
  padding: 6px;
  color: #f1f1f1;
}

.category-container > ul {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-container > ul > li {
  margin: 5px;
}

.post-content {
  height: full;
  width: 1000px;
}

.post-content > h1 {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-top: 20px;
}

.post-content > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 20px;
}

.main-post-img {
  width: 1000px;
  height: 500px;
  background-color: #8873ef;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.main-post-img > img {
  width: 1700px;
  object-fit: cover;
  position: absolute;
  right: -350px;
}

.first-text {
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
}

.contact-me {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.contact-me form {
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  width: 380px;
  height: 520px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #8873ef);
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #8873ef);
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.form {
  position: absolute;
  border-radius: 8px;
  background: #fcda69;
  inset: 2px;
  z-index: 11;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

.form h1 {
  color: black;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox label {
  position: absolute;
  left: 10px;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: black;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label {
  color: white;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ .line,
.inputBox input:focus ~ .line {
  height: 44px;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.textArea label {
  margin-top: 30px;
  padding-bottom: 5px;
  font-size: 1em;
  color: black;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.textArea textarea {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 5px 5px;
  color: #23242a;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 0.75em;
  letter-spacing: 0.05em;
}

input[type="submit"] {
  border: none;
  outline: none;
  background: white;
  padding: 11px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

input[type="submit"]:hover {
  background-color: #8873ef;
  color: white;
}

@media (min-width: 780px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .cursor {
    display: none;
  }

  .main-header {
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }

  .main-logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .main-logo img {
    width: 50px;
    object-fit: cover;
  }

  .main-menu {
    display: none;
  }

  .searchBox {
    display: none;
  }

  .main-container {
    height: 100%;
    width: 90%;
    gap: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
  }

  .rotatedText {
    transform: rotate(0);
  }

  .col-hero1 {
    width: 350px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .col-hero2 {
    display: none;
  }

  .hero-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }

  .social {
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .main-title > h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
  }

  #col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about {
    padding: 0;
    width: 100%;
  }

  .col-textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .service-btn {
    margin: 50px;
    margin-bottom: 30px;
  }
  .service-title {
    margin-top: 10px;
  }

  #skills {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .skills-detail {
    gap: 0;
    justify-content: center;
  }

  .skills-item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
  }

  .skills-item > h3 {
    width: 100%;
  }

  .exp-section {
    margin: 0;
  }

  .exp-date {
    margin-left: 20px;
  }

  footer {
    padding: 0;
  }

  .contact-information {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information {
    gap: 20px;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .information > a {
    margin-left: 10px;
  }

  .contact-col2 {
    margin-top: 30px;
    width: 70%;
  }

  .circle {
    width: 400px;
    height: 200px;
    gap: 20px;
    flex-direction: column;
  }
  .link > a {
    font-size: 16px;
  }

  .button-contact > a {
    padding: 20px;
  }

  .copyright-footer {
    font-size: 20px;
    margin: 20px 20px 20px 20px;
    flex-direction: column;
  }

  .copyright-footer h4 {
    margin-bottom: 5px;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-content > h1 {
    font-size: 40px;
  }

  .main-post-img {
    width: 100%;
  }

  .main-post-img > img {
    right: -550px;
  }

  .hero {
    height: 100%;
    padding: 1%;
  }

  .hero .hero-content {
    text-align: center;
    color: black;
    line-height: normal;
  }

  .hero .hero-content h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .hero .hero-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: -30px;
  }

  .hero .hero-content p {
    font-size: 1em;
    font-weight: lighter;
  }

  .hero-text h1 {
    margin: 0 0;
    padding: 5% 0;
  }

  .hero-text h2 {
    padding-bottom: 3%;
  }

  .main-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-photo figure a img {
    border-radius: 150px;
    width: 40%;
  }

  .container > h1 {
    font-size: 2em;
    text-transform: uppercase;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .card .heading-img {
    height: 30vh;
    padding-top: 6%;
  }

  .heading-img img {
    width: 90%;
  }
}

@media only screen and (max-width: 1580px) {
  .col-hero2 {
    display: none;
  }
}
