@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .primary-btn {
    @apply bg-primary py-[16px] px-[39px] rounded-[2px] uppercase text-[16px] font-bold text-white hover:bg-white hover:text-primary transition-all;
  }
  .cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #fe8c12;
    transition: transform 0.2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 100;
  }
  .grow {
    transform: scale(5);
  }
  .change {
    border: 2px solid #ffffff;
  }

  .hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
    margin-right: 20px;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 6px 0;
    background: #0c0c0b;
    transition: 0.3s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 120px;
    transition: 0.4s;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }

  .mobile-nav a:hover {
    color: #fe8c12;
  }
}

@layer base {
  h3 {
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
  }

  h9 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
}
